.card {
    width: 268px;
    height: 432px;
    padding: 24px 16px;
    background: #ffffff;
    border-radius: 9px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.cardHeader {
    align-self: stretch;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.iconContainer {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.iconBorder {
    width: 32px;
    height: 32px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    border: 1.4px solid #031240; /* Color del borde */
}

.cardImage {
    width: 160px;
    height: 160px;
}

.cardBody {
    align-self: stretch;
    height: 160px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

.cardTitle {
    align-self: stretch;
    text-align: center;
    color: #2E2E2E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.cardPrice {
    align-self: stretch;
    text-align: center;
    color: #2E2E2E;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.72px;
    word-wrap: break-word;
}

.compareButton {
    background: #031240;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    width: 237px;
    height: 48px;
}

.compareButtonText {
    text-align: center;
    color: #EBF227;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 0px;
    word-wrap: break-word;
}


/* ProductCard.module.css */

/* Contenedor principal de la carta */
.card {
    position: relative;
    width: 300px; /* Ajusta el tamaño de la carta según sea necesario */
    /* Otros estilos... */
}

/* Contenedor del icono (corazón) */
.iconContainer {
    position: absolute;
    top: 10px;  /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px; /* Ajusta el tamaño del icono */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen del corazón */
.iconImage {
    width: 100%; /* Esto asegura que la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
/* Otros estilos... */
