.ofertasContainer {
  text-align: center;
  color: #0f1e60;
  padding: 2rem;
}

.ofertasTitle {
  font-size: 3rem; /* Un poco más pequeño */
  font-weight: bold;
  margin-bottom: 2rem;
}

.ofertasSubtitle {
  font-size: 2rem; /* Tamaño adecuado para el subtítulo */
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
  text-align: left;
  width: 80%; /* Controla el ancho para alinearlo con el slider */
  margin: 0 auto; /* Asegura que el subtítulo esté centrado horizontalmente */
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el slider horizontalmente */
  justify-content: center;
  width: 70%; /* Ajusta el ancho del contenedor del slider */
  margin: 0 auto; /* Centra el contenedor del slider */
  padding: 2rem 0;
}

.ofertasItems {
  display: flex;
  justify-content: center; /* Centra los items dentro del slider */
  gap: 1.5rem; /* Reduce la separación entre los items */
  margin-top: 2rem;
}

.ofertaItem {
  display: flex;
  align-items: center;
  background-color: #e6ecf5;
  padding: 2rem; /* Reduce el relleno */
  border-radius: 12px;
  width: 600px; /* Disminuye el ancho de cada tarjeta */
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 2rem;
}

.ofertaImage {
  display: block;
  width: 200px; /* Reduce el tamaño de la imagen */
  height: auto;
  border-radius: 10px;
}

.ofertaText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ofertaTitle {
  font-size: 2rem; /* Disminuye el tamaño del título */
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.ofertaDiscount {
  font-size: 2rem; /* Disminuye el tamaño del descuento */
  font-weight: bold;
  color: #0f1e60;
  margin-bottom: 1.8rem;
}

.ofertaButton {
  padding: 1rem 2rem;
  border: 1px solid #0f1e60;
  border-radius: 5px;
  background-color: transparent;
  color: #0f1e60;
  cursor: pointer;
  font-size: 1.2rem;
}

.ofertaButton:hover {
  background-color: #0f1e60;
  color: #fff;
}

.slideControls {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Reduce el espacio entre los botones de control */
  margin-top: 1.8rem;
}

.slideButton {
  padding: 0.8rem 2rem;
  border: 1px solid #0f1e60;
  border-radius: 5px;
  background-color: transparent;
  color: #0f1e60;
  cursor: pointer;
  font-size: 1.2rem;
}

.slideButton:hover {
  background-color: #0f1e60;
  color: #fff;
}
